#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q   &kp W   &kp E   &kp R   &kp T
&kp A   &kp S   &kp D   &kp F   &kp G
&kp Z   &kp X   &kp C   &kp V   &kp B
&kp F4  &kp F5  &kp F6  &kp F7  &kp F8
&kp SPACE &kp ENTER &kp LCTRL  // 親指キー（左から順にスペース、エンター、Ctrl）
            >;
        };
    };
};
