CONFIG_ZMK_KEYBOARD_NAME="roBa_Left"
CONFIG_ZMK_BLE=y
CONFIG_ZMK_USB=y

# ピンのロック解除（NFC, UART）
CONFIG_NFCT_PINS_AS_GPIOS=y
CONFIG_SERIAL=n
CONFIG_UART_CONSOLE=n

# ★ここが重要！I2CとSPIを無効化してD4, D5, D8, D9, D10を解放
CONFIG_I2C=n
CONFIG_SPI=n
CONFIG_GPIO=y

# エンコーダーは一旦オフ
CONFIG_EC11=n
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=n

CONFIG_ZMK_BATTERY_REPORTING=y
CONFIG_ZMK_STUDIO=n
